{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en" {% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <title>{% translate "Doc" %}</title> {% endcomment %}
    <title>{% translate "shahram" %}</title>

</head>
<body>
    {% for post in posts %}
        <article>
            <h1>{{ post.title }}</h1>
            <h6>{{ post.content }}</h6>
            <small>{{ post.status }}</small>
        </article>
        {% blocktranslate %}
          This string will have {{ post.title }} inside.
        
        {% endblocktranslate %}

    {% endfor %}
</body>
</html>
